<section>
  {{ with .Site.Params.portfolio.title }}<h2>{{ . | markdownify }}</h2>{{ end }}
  <div class="row">
    {{ range $index, $element := (where .Data.Pages.ByTitle "Section" "post") }}
    <article id="portfolio-{{ $index }}" class="12u work-item">
      <div class="img-wrapper">
        <img{{ with .Params.featured_image }} src="{{ . }}"{{ end }} alt="{{ .Title }}" class="featured-image">
      </div>
      <h3>{{ .Title | markdownify }}</h3>
      <p>{{ .Content | markdownify }}</p>
      <div class="link-wrapper">
        <a {{ with .Params.link }} href="{{ . }}"{{ end }} target="_blank" class="button">Read More</a>
      </div>
    </article>
    {{ end }}
  </div>
</section>
